https://vllm-wheels.s3.us-west-2.amazonaws.com/nightly/vllm-1.0.0.dev-cp38-abi3-manylinux1_x86_64.whl
--index-url https://flashinfer.ai/whl/cu124/torch2.4
flashinfer==0.1.6
dspy==2.5.32
duckduckgo_search==6.3.4
hf_transfer==0.1.8
jinja2==3.1.4
langchain_community==0.3.4
llama-index==0.12.0
nest-asyncio==1.6.0
psycopg2-binary==2.9.10
psycopg==3.2.3
redisvl==0.3.5
sentence-transformers==3.2.1
streamlit==1.40.1
streamlit_extras==0.5.0
uvloop==0.21.0
